 *
 {
    padding: 0px;
    margin: 0px;
    word-spacing: 1px;
 }
body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #fffaf0;
        margin: 0;
        padding: 0;
      }

      h1 {
        color: #8b0000;
        font-size: 32px;
        text-align: center;
      }

      h2 {
        background-color: #f9e4b7;
        padding: 15px;
        text-align: center;
        font-size: 28px;
        color: #5c4033;
        margin: 20px 0 10px;
      }

      h3 {
        color: #8b4513;
        margin-bottom: 8px;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      td {
        padding: 10px;
        vertical-align: top;
      }


      select {
        font-size: 16px;
        padding: 5px;
        margin-left: 8px;
      }

      ul, ol {
        line-height: 1.6;
        font-size: 16px;
        color: #333;
      }

      img {
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      }

      a {
        color: rgb(red, green, blue);
        text-decoration: none;
        font-weight: bold;
      }

      /* a:hover {
        color: #228b22;
      } */

            
      .space{
  display: flex;
  justify-content: space-around;
  gap: 20px; 
}


.space a {
  text-decoration: none;
  color: #333; 
  font-family: Arial, sans-serif; 
  font-size: 16px;
}


.space a:hover {
  color: #007BFF; 
}
     
     tr
      {
        background-color: #F9ECD8
         /* background-color: red; */
      }